#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  padding: 0;
  margin: 0;
  width: 100%;
  background-color: #132968;
}

* {
  &,
  &::before,
  &::after {
    box-sizing: border-box;
  }
}

.paragraph {
  font-size: 14px;
}
